@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This application allows you to identify open source dependencies and determine if there are any known, publicly disclosed, vulnerabilities on packages used by your application.        
    </p>
    <p>
        This works by calling the public service at <a href="https://ossindex.sonatype.org/" target="_blank">ossindex.sonatype.org</a> which uses data derived from public sources so its worth checking out their warnings, disclaimers and rate limiting processes.
    </p>
</div>
