@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ah no it borked!</h1>
<hr />
<p>
    <strong>What What:</strong> <code>An error occurred while processing your request.</code>
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
