@model VulnusCloud.Models.FileUploadViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>File Upload</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PackageTypeId" class="control-label"></label>
                @Html.DropDownListFor(
                    m => m.PackageTypeId, 
                    (List<SelectListItem>)ViewData["PackageType_SelectListItem"], 
                    new { @class = "form-control" })
                <span asp-validation-for="PackageTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFiles" class="control-label"></label>
                <input asp-for="FormFiles" type="file" multiple>
                <span asp-validation-for="FormFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
